extends ../layout

block content
	header.actions.container
			button(class="amber darken-2 btn btn-large waves-effect waves-light modal-trigger" data-target="new-element") #{translate.btnCreate}
				i.material-icons.left add
	article.wrapper-content.container#files
		table.listing
			thead
				tr
					th #{translate.name}
					th #{translate.nameOriginal}
					th #{translate.description}
					th #{translate.type}
					th #{translate.size}
					th #{translate.tags}
					th
			tbody
				each file, index in files
					tr(data-keywords="#{file.name}")
						td #{file.name}
						td #{file.originalname}
						td #{file.description}
						td #{file.mimetype}
						td #{file.size}
						td 
							if tags
								each tag, index in file.tags
									div.chip #{tag}
						td.actions
							a(class="light-blue btn-floating waves-effect waves-circle waves-light" data-target="edit-element" href="/files/#{file.id}")
								i.material-icons edit
							a(class="light-green darken-2 btn-floating waves-effect waves-circle waves-light" data-target="edit-element" href="/monitor/file/#{file.id}" target="_blank")
								i.material-icons play_arrow
							a(class="red btn-floating waves-effect waves-circle waves-light" href="/files/delete/#{file.id}")
								i.material-icons delete
	div(id="new-element" class="modal light-box")
		h4(class="center-align light-blue") #{translate.newFile}
		div(class="modal-content")
			form(class="row" action='/files' method='post' enctype='multipart/form-data')
				div.input-field.col.s12
					i(class="material-icons prefix") edit
					input(type='text' name='name' id="name")
					label(for="name") #{translate.name}
				div.input-field.col.s12
					i(class="material-icons prefix") description
					input(type='text', name='description' id="description")
					label(for="description") #{translate.description}
				div.input-field.col.s12
					i(class="material-icons prefix") note
					input(type='text', name='tags' id="tags")
					label(for="tags") #{translate.tags}
				div.file-field.input-field.col.s12
					div(class="btn")
						span File
						input(type='file' name='file' accept='*' placeholder='File')
					div(class="file-path-wrapper")
						input(class="file-path validate" type="text")
				div.input-field.col.s12.actions.right-align
					button(type="submit" class="btn btn-large amber darken-1 white-text waves-effect waves-light") #{translate.btnAdd}
						i(class="material-icons left") done
					a(href="#!" class="modal-action modal-close btn btn-large red darken-1 white-text waves-effect waves-light") #{translate.btnCancel}
						i(class="material-icons left") cancel

