doctype html
html(lang='fr')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1.0')
		title= titleTab
		link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet', type='text/css', media='screen,projection', href='/css/materialize.min.css')
		link(rel='stylesheet', type='text/css', media='screen,projection', href='/css/nouislider.min.css')
		link(rel='stylesheet', href='/css/style.css')
		script(type="application/javascript", src="http://momentjs.com/downloads/moment.min.js")
		script(type='text/javascript', src='/js/jquery-v2.1.1.min.js')
		script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.0/fullcalendar.min.js")
		link(rel="stylesheet", type="text/css", href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.0/fullcalendar.min.css")

	body
		header(class="light-blue" id="header")
			div.navbar-fixed
				nav(class="menu" role="navigation")
					div(class="nav-wrapper light-blue")
						a(id="logo-container" href="/" class="brand-logo") Logo
						ul(class="right hide-on-med-and-down")
							for m in menu
								if active == m.url
									li.active
										a(href="#{m.url}")= m.name
											i(class="material-icons left")= m.icon
								else
									li
										a(href="#{m.url}")= m.name
											i(class="material-icons left")= m.icon
						ul(id="nav-mobile" class="side-nav")
							for m in menu
								if active == m.url
									li.active
										a(href="#{m.url}")= m.name
											i(class="material-icons left")= m.icon
								else
									li
										a(href="#{m.url}")= m.name
											i(class="material-icons left")= m.icon
						a(href="#" data-activates="nav-mobile" class="button-collapse")
							i(class="material-icons") menu
					div.title= title
		section#main.z-depth-1
			block content
		script(type='text/javascript', src='/js/nouislider.min.js')
		script(type='text/javascript', src='/js/materialize.min.js')
		script(type='text/javascript', src='/js/init.js')
		block script
