extends ../layout

block content
	header.title-content
		h1= titleContent
		div.actions
			a(href="/playlists/new" class="blue btn-floating btn-large waves-effect waves-circle waves-light")
				i.material-icons add
	article.wrapper-content#playlists
		form(action='/playlists/delete', method='post')
			button(type='submit' class="red btn-floating btn-large waves-effect waves-circle waves-light")
				i.material-icons delete
			table
				thead
					tr
						th #
						th name
						th description
						th frequency
						th tags
				tbody
					each playlist, index in playlists
						tr
							td
								p
									input(type="checkbox" id="line-item-#{index}" name="playlist[]" value="#{playlist.id}")
									label(for="line-item-#{index}")
							td 
								a(href='/playlists/#{playlist.id}')
									"edit"
							td #{playlist.description}
							td #{playlist.frequency}
							td #{playlist.tags}
	
