extends ../layout

block content
    header.actions.container
        button(class="amber darken-2 btn btn-large waves-effect waves-light modal-edit" data-target="form-edit") #{translate.btnEdit}
            i.material-icons.left edit
        if (me.id != user.id)
            if (user.role == -1)
                a(class="light-green btn btn-large waves-effect waves-light" href="/users/unblock/#{user.id}") #{translate.btnDeBlock}
                    i.material-icons.left done
            else
                a(class="light-green btn btn-large waves-effect waves-light" href="/users/block/#{user.id}") #{translate.btnBlock}
                    i.material-icons.left block
            a(class="red darken-2 btn btn-large waves-effect waves-light" href="/users/delete/#{user.id}") #{translate.btnDelete}
                i.material-icons.left delete
    article.wrapper-content#playlist
        section.container
            form(action='/users/#{user.id}', method='post' id="form-edit" class="row")
                div.input-field.col.s12
                    i(class="material-icons prefix") edit
                    label(for="username") #{translate.username}
                    input(type='text' name='username' id="username" placeholder='#{translate.username}' value='#{user.username}' disabled)
                div.input-field.col.s12
                    i(class="material-icons prefix") edit
                    label(for="name") #{translate.name}
                    input(type='text' name='name' id="name" placeholder='#{translate.name}' value='#{user.name}' disabled)
                div.input-field.col.s12
                    i(class="material-icons prefix") email
                    label(for="name") #{translate.email}
                    input(type='text' name='email' id="email" placeholder='#{translate.email}' value='#{user.email}' disabled)
                div.input-field.col.s12
                    i(class="material-icons prefix") phone
                    label(for="name") #{translate.phone}
                    input(type='text' name='phone' id="phone" placeholder='#{translate.phone}' value='#{user.phone}' disabled)
                div.input-field.col.s12
                    i(class="material-icons prefix") info
                    label(for="name") #{translate.age}
                    input(type='number' name='age' id="age" placeholder='#{translate.age}' value='#{user.age}' disabled)
                div.input-field.col.s12
                    select(name="sex")
                        if user.sex == 0
                            option(value="0" selected) #{translate.man}
                            option(value="1") #{translate.woman}
                        else if user.sex == 1
                            option(value="0") #{translate.man}
                            option(value="1" selected) #{translate.woman}
                        else
                            option(value="" disabled selected="selected") #{translate.sexDefault}
                            option(value="0") #{translate.man}
                            option(value="1" selected) #{translate.woman}
                    label(for="name") #{translate.sex}
                div.input-field.col.s12.actions.center-align
                    button(type='submit' class="light-green darken-2 btn btn-large waves-effect waves-light") #{translate.btnSave}
                        i.material-icons.left done
                    a(href='/users/#{user.id}' class="red darken-2 btn btn-large waves-effect waves-light modal-edit-cancel") #{translate.btnCancel}
                        i.material-icons.left cancel